<%
  import Benchee.Formatter.Markdown.Templates
  import Benchee.Formatter.Markdown.Helpers
%>
<%= if is_binary(input) do %>

__Input: <%= input %>__

<% end %>
Run Time
<%= render(:scenarios, [suite: suite, input: input]) %>
<%= if comparison?(suite) do %>
Comparison
<%= render(:comparisons, [suite: suite, input: input]) %>
<% end %>
<%= if memory_usage?(suite) do %>
Memory Usage
<%= render(:memory_usages, [suite: suite, input: input]) %>
<% end %>
